body {
  background-color: #adcbe3;
}

.jumbotron {
  background-color: #4b86b4e0;
  height: 215px;
  /* color: black !important; */
  border: 0px solid !important;
}

h1 {
  text-align: center;
  vertical-align: center;
}

.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #4b86b4;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #4b86b4;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #4b86b480;
  transform: translateY(-0.1rem);
  color: #6688aa;
  transition: transform 150ms;
}

.list-group-item {
  background-image: url("https://img.freepik.com/free-photo/paperboard-texture_95678-72.jpg?size=626&ext=jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

#game-return {
  margin-top: 20px;
}
