form.signup,
form.login {
  margin-top: 50px;
}

/* quiz test */
li {
  padding-bottom: 3px;
  color: white;
  text-shadow: 1.5px 1px 3px black;
  list-style-type: none;
}

p {
  color: black;
  text-align: center;
  font-size: 30px;
}

input {
  text-align: center;
}

button {
  display: inline-block;
  background-color: #3c1261;
  border-radius: 10px;
  border: 3px double gray;
  color: #eeeeee;
  text-align: left;
  font-size: 20px;
  padding: 20px;
  margin-top: 3px;
}

button:hover {
  background-color: #52307c;
  color: white;
}

hr {
  border: 1px solid gray;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: #f9e0ff;
  border: solid;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

input {
  text-align: left;
}
