* {
  color: black;
  font-family: "Lora", serif;
}

h1 {
  text-align: center;
  vertical-align: center;
}

h2 {
  color: black !important;
}

body {
  background-image: url("https://images.pexels.com/photos/1903702/pexels-photo-1903702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: black;
}

a:hover {
  color: #2f2f2f;
  text-decoration: none;
}

form.signup,
form.login {
  margin-top: 50px;
}

/* quiz test */
li {
  padding-bottom: 3px;
  color: white;
  text-shadow: 1.5px 1px 3px black;
  list-style-type: none;
}

p {
  color: black;
  text-align: center;
  font-size: 30px;
}

input {
  text-align: center;
}

hr {
  border: 1px solid gray;
}

.jumbotron {
  background-color: #4b86b4e0;
  backdrop-filter: blur(1.5px);
  height: 215px;
  color: black !important;
  border: 0px solid !important;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: #4b86b4cc;
  backdrop-filter: blur(2px);
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

input {
  text-align: left;
}

#jointeam {
  margin-top: 15px;
}
